html,
body {
  width: 300px;
}

button {
  border: none;
  width: 100%;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #E5F2F2;
}

button:hover {
  background-color: #CFF2F2;
}

#tabButtonsContainer {
  display: flex;
  flex-direction: row;
}

button.tabButton {
  width: 49%;
  padding: 1%;
  font-size: 1em;
}

h1 {
  font-size: large;
}

.options {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.activeTab {
  background-color: #CFF2F2;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.optionsContainer {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 2.5%;
}

#generated-password {
  font-size: large;
  width: 300px;
  word-wrap: break-word;
}